@page
@model Assignment1_NotMVC.Pages.ChangePasswordModel
@{
}
<h1 class="mb-3">Change Password </h1>

<form method="post" asp-antiforgery="true" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        

        <div class="mb-3">
            <label class="form-label" asp-for="PCModel.Password">Password</label>
            <input id="pwd1" type="Password" asp-for="PCModel.Password" class="form-control" onkeyup="validate()" />
            <span id="pwd1err" asp-validation-for="PCModel.Password"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="PCModel.ConfirmPassword">Confirm Password</label>
            <input id="pwd2" onkeyup="validate2()" type="Password" asp-for="PCModel.ConfirmPassword" class="form-control" />
            <span id="pwd2err" asp-validation-for="PCModel.ConfirmPassword"></span>
        </div>

         <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Change</button>
                </div>
    </div>

</form>

<script type="text/javascript">
        function validate(){
            var pwd1=document.getElementById("pwd1").value;
            if(pwd1.length<12){
                document.getElementById("pwd1err").innerHTML="Password length must be at least 12 characters.";
                document.getElementById("pwd1err").style.color="Red";
                return("too_short");
            }
            else if(pwd1.search(/[0-9]/)== -1){
                document.getElementById("pwd1err").innerHTML="Requires at least 1 number.";
                document.getElementById("pwd1err").style.color="Red";
                return("no_number");
            }
            else if(pwd1.search(/[a-z]/)== -1){
                document.getElementById("pwd1err").innerHTML="Requires at least 1 lowercase letter.";
                document.getElementById("pwd1err").style.color="Red";
                return("no_lowercase");
            }
            else if(pwd1.search(/[A-Z]/)== -1){
                document.getElementById("pwd1err").innerHTML="Requires at least 1 uppercase letter.";
                document.getElementById("pwd1err").style.color="Red";
                return("no_uppercase");
            }
            else if(pwd1.search(/[\W\D_]/)== -1){
                document.getElementById("pwd1err").innerHTML="Requires at least 1 special character.";
                document.getElementById("pwd1err").style.color="Red";
                return("no_specialchar");
            }

            document.getElementById("pwd1err").innerHTML="Excellent!";
            document.getElementById("pwd1err").style.color="Blue";
        }

        function validate2(){
            var pwd1=document.getElementById("pwd1").value;
            var pwd2=document.getElementById("pwd2").value;
            if(pwd2.length<12){
                document.getElementById("pwd2err").innerHTML="Password length must be at least 12 characters.";
                document.getElementById("pwd2err").style.color="Red";
                return("too_short");
            }
            else if(pwd2.search(/[0-9]/)== -1){
                document.getElementById("pwd2err").innerHTML="Requires at least 1 number.";
                document.getElementById("pwd2err").style.color="Red";
                return("no_number");
            }
            else if(pwd2.search(/[a-z]/)== -1){
                document.getElementById("pwd1err").innerHTML="Requires at least 1 lowercase letter.";
                document.getElementById("pwd1err").style.color="Red";
                return("no_lowercase");
            }
            else if(pwd2.search(/[A-Z]/)== -1){
                document.getElementById("pwd2err").innerHTML="Requires at least 1 uppercase letter.";
                document.getElementById("pwd2err").style.color="Red";
                return("no_uppercase");
            }
            else if(pwd2.search(/[\W\D_]/)== -1){
                document.getElementById("pwd2err").innerHTML="Requires at least 1 special character.";
                document.getElementById("pwd2err").style.color="Red";
                return("no_specialchar");
            }
            else if(pwd2!=pwd1){
                document.getElementById("pwd2err").innerHTML="Passwords don't match.";
                document.getElementById("pwd2err").style.color="Red";
                return("no_match");
            }
            document.getElementById("pwd2err").innerHTML="Excellent!";
            document.getElementById("pwd2err").style.color="Blue";
        }

</script>