@page
@model Assignment1_NotMVC.Pages.LoginModel
@{
}

@using Microsoft.Extensions.Options
@using Assignment1_NotMVC.Models
@inject IOptions<GoogleCaptchaConfig> GoogleCaptchaConfig


<div class="container mt-5">

    <div class="row justify-content-center align-items-center">

        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Login </h1>
     
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="LModel.Token" id="ModelToken" type="hidden" />
                <div class="mb-3">
                    <label class="form-label" asp-for="LModel.Email">Email Address</label>
                    <input type="Text" asp-for="LModel.Email" class="form-control" />
                    <span asp-validaton-for="LModel.Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="LModel.Password">Password</label>
                    <input type="password" asp-for="LModel.Password" class="form-control" />
                    <span asp-validaton-for="LModel.Password" class="text-danger"></span>
                </div>

                <div class="mb-3 form-check">
                    <input type="checkbox" asp-for="LModel.RememberMe" class="form-check-input" />
                    <label class="form-check-label" asp-for="LModel.RememberMe">Remember Me?</label>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
                 <a type="button" class="btn btn-warning" asp-page="/ForgotPassword/Index">Forgot Password</a>
            </form>
        </div>
        
    </div>

</div>





<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://www.google.com/recaptcha/api.js?render=@GoogleCaptchaConfig.Value.SiteKey"></script>

<script>
        function GCaptcha(){
        grecaptcha.ready(function() {
                  grecaptcha.execute('@GoogleCaptchaConfig.Value.SiteKey', {action: 'submit'}).then(function(token) {
                      // Add your logic to submit to your backend server here.
                      console.log(token);
                      document.getElementById("ModelToken").value=token;
                  });
                });
        };
        setInterval(GCaptcha,115000);
        window.onload=GCaptcha();
</script>
@section Scripts {
@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}

@*testing
    @{
    var untrustedInput = "<script>alert(1)</script>";
    }

    @untrustedInput*@