@page
@model Assignment1_NotMVC.Pages.ForgotPassword.ResetPasswordModel
@{
}

<h1 class="mb-3">Reset Password </h1>
@*@Model.TOKEN*@
<form method="post" asp-antiforgery="true" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="mb-3">

            <input asp-for="RPModel.Email" value="@Model.EMAIL" type="hidden" />
            <input asp-for="RPModel.Token" value="@Model.TOKEN" type="hidden" />

        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="RPModel.Password">Password</label>
            <input id="pwd1" type="Password" asp-for="RPModel.Password" class="form-control" onkeyup="validate()" />
            <span id="pwd1err" asp-validation-for="RPModel.Password"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="RPModel.ConfirmPassword">Confirm Password</label>
            <input id="pwd2" onkeyup="validate2()" type="Password" asp-for="RPModel.ConfirmPassword" class="form-control" />
            <span id="pwd2err" asp-validation-for="RPModel.ConfirmPassword"></span>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Reset</button>
        </div>
    </div>

</form>

<script type="text/javascript">


    function validate(){
        var valid=false;
        var corrLen=false;
        var corrNum=false;
        var corrLet=false;
        var corrUL=false;
        var corrSpec=false;
        var pwd1=document.getElementById("pwd1").value;
        if(pwd1.length<12){
            document.getElementById("pwd1err").innerHTML="Password length must be at least 12 characters.";
            document.getElementById("pwd1err").style.color="Red"
            return("too_short");
        }
        else{
            corrLen=true;
        }
        if(containsNumbers(pwd1)==false){
            document.getElementById("pwd1err").innerHTML="Requires at least 1 number.";
            document.getElementById("pwd1err").style.color="Red";
           console.log(pwd1);
            return("no_number");
        }
        else{
            corrNum=true;
        }
        if(containsLowerCase(pwd1)==false){
            document.getElementById("pwd1err").innerHTML="Requires at least 1 lowercase letter.";
            document.getElementById("pwd1err").style.color="Red";
   
            return("no_lowercase");
        }
        else{
            corrLet=true;
        }
        if(containsUpperCase(pwd1)==false){
            document.getElementById("pwd1err").innerHTML="Requires at least 1 uppercase letter.";
            document.getElementById("pwd1err").style.color="Red";
    
            return("no_uppercase");
        }
        else{
            corrUL=true;
        }
        if(containsSpecialChars(pwd1)==false){
            document.getElementById("pwd1err").innerHTML="Requires at least 1 special character.";
            document.getElementById("pwd1err").style.color="Red";
        
            return("no_specialchar");
        }
        else{
            corrSpec=true;
        }
        console.log(corrLen,corrNum,corrLet,corrUL,corrSpec);
        if(corrLen && corrNum && corrLet && corrUL && corrSpec){
            valid=true;
        }
        if(valid){
             document.getElementById("pwd1err").innerHTML="Excellent!";
        document.getElementById("pwd1err").style.color="Blue";
        }

    }

    function validate2(){
        var pwd1=document.getElementById("pwd1").value;
        var pwd2=document.getElementById("pwd2").value;
        if(pwd2.length<12){
            document.getElementById("pwd2err").innerHTML="Password length must be at least 12 characters.";
            document.getElementById("pwd2err").style.color="Red";
            return("too_short");
        }
        else if(pwd2.search(/[0-9]/)== -1){
            document.getElementById("pwd2err").innerHTML="Requires at least 1 number.";
            document.getElementById("pwd2err").style.color="Red";
            return("no_number");
        }
        else if(pwd2.search(/[a-z]/)== -1){
            document.getElementById("pwd1err").innerHTML="Requires at least 1 lowercase letter.";
            document.getElementById("pwd1err").style.color="Red";
            return("no_lowercase");
        }
        else if(pwd2.search(/[A-Z]/)== -1){
            document.getElementById("pwd2err").innerHTML="Requires at least 1 uppercase letter.";
            document.getElementById("pwd2err").style.color="Red";
            return("no_uppercase");
        }
        else if(pwd2.search(/[\W\D\S_]/)== -1){
            document.getElementById("pwd2err").innerHTML="Requires at least 1 special character.";
            document.getElementById("pwd2err").style.color="Red";
            return("no_specialchar");
        }
        else if(pwd2!=pwd1){
            document.getElementById("pwd2err").innerHTML="Passwords don't match.";
            document.getElementById("pwd2err").style.color="Red";
            return("no_match");
        }
        else{
            document.getElementById("pwd2err").innerHTML="Excellent!";
        document.getElementById("pwd2err").style.color="Blue";
        }

    }

 function containsNumbers(str) {
  return /\d/.test(str);
}

 function containsLowerCase(str) {
  return /[a-z]/.test(str);
}

function containsSpecialChars(string)
{
    return /[\W\D\S_]/.test(str);
}

 function containsUpperCase(str) {
  return /[A-Z]/.test(str);
}

</script>